.flex-parent-element {
  display: flex;
  font-size: 1.5em;
  width: 100%
}

.stueckzahl {
  font-size: 3em;
  font-weight: bold;
  margin-top: 5%
}

.flex-child-element {
  flex: 1;
  #border: 1px solid blue;
}

.flex-child-element:first-child {
  margin-left: 30%;
  text-align: left;
}

.variable {
  margin-left: -10%;
}

.wip {
  margin-left: 0.4%;
}

.date {
  margin-left: 0.4%;
}

